.crosstable-results-cell {
  /* for fonts in won/lost game pairs */
  --ccc-loss-font-color: hsl(0, 100%, 72%);
  --ccc-win-font-color: hsl(121, 51%, 62%);

  /* for fonts in Double won/lost game pairs */
  --ccc-double-win-font-color: hsl(102, 61%, 50%);
  --ccc-double-loss-font-color: hsl(0, 100%, 63%);

  --border-color-ccc: rgb(115, 115, 115);

  --won-bg: hsla(81, 56%, 63%, 0.17);
  --loss-bg: hsla(9, 86%, 61%, 0.17);
  --double-win-bg: hsla(111, 92%, 59%, 0.25);
  --double-loss-bg: hsla(0, 71%, 52%, 0.36);
  --draw-bg: transparent;
}

.crosstable-result-wrapper.ccc-cell-grid {
  display: grid;

  grid-template-columns: repeat(var(--column-amount), 1fr);
}

/* 
---------------
header section of the h2h 
score, wdl etc...
---------------
*/

#ccc-cell-header {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  margin-block-end: 0.6rem;
}

/* make every non default element wrap */
#ccc-cell-header :nth-child(1n + 5) {
  width: 100%;
}

.ccc-stat-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ccc-stat-wrapper:last-of-type {
  margin-block-end: 0.6rem;
}

.ccc-ptnml {
  height: 100%;
  padding-inline: 0.4rem;

  /* background-color: rgb(32, 32, 30); */

  border-radius: 3px;

  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(211, 211, 211);

  word-break: break-all;
}

#ptnml-header {
  color: rgb(185, 185, 185);

  font-weight: normal;
  font-size: 1.1rem;
}

/* 
---------------
result table section  
---------------
*/

/* individual results */
#ccc-result {
  color: var(--ccc-color) !important;

  contain: layout;
  grid-column: span 1;

  width: 100%;

  position: relative;
}

#ccc-result::before {
  content: "";

  position: absolute;

  width: 1px;
  height: 100%;

  background-color: var(--border-color-ccc);
}

#ccc-result.ccc-border-left::before {
  left: 0;
  transform: translateX(-50%);
}

#ccc-result.ccc-border-right::before {
  right: 0;
  transform: translateX(50%);
}

/* WDL */

.ccc-wdl-container {
  display: inline-flex;
  border-radius: 2px;

  padding-inline: 0.5rem;
  margin-block: 0.2rem;
}

.ccc-wdl-container > p {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.ccc-wdl-container > :nth-child(2) {
  margin-inline: 0.4rem;
}

.ccc-wdl-container > :last-child {
  margin-inline-start: 0.6rem;
}

/* 
-------------------
background and font color selectors
-------------------
*/

.ccc-double-win {
  --ccc-color: var(--ccc-double-win-font-color);

  background-color: var(--double-win-bg);
}

.ccc-win {
  background-color: var(--won-bg);
}

.win.ccc-win,
.win:last-child {
  --ccc-color: var(--ccc-win-font-color);
}

.ccc-loss {
  background-color: var(--loss-bg);
}

.loss.ccc-loss {
  --ccc-color: var(--ccc-loss-font-color);
}

.ccc-double-loss {
  --ccc-color: var(--ccc-double-loss-font-color);

  background-color: var(--double-loss-bg);
}

.loss.ccc-draw {
  --ccc-color: var(--globalColorLoss);
  background-color: var(--draw-bg);
}

.win.ccc-draw {
  --ccc-color: var(--globalColorWin);
  background-color: var(--draw-bg);
}

.loss:last-child {
  --ccc-color: var(--globalColorLoss);
}

.win:last-child {
  --ccc-color: var(--globalColorWin);
}

/* for letter l in WDL stat */
.ccc-loss-font {
  color: var(--ccc-loss-font-color);
  font-weight: 600;
}

/* 
-------------------
media queries
-------------------
*/

@media (min-width: 0px) {
  .crosstable-results-cell .crosstable-result-wrapper {
    --column-amount: 8;
  }
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 8;
  }
}

@media (min-width: 580px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 10;
  }
}

@media (min-width: 715px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 12;
  }
}

@media (min-width: 930px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 14;
  }
}

@media (min-width: 1060px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 16;
  }
}

@media (min-width: 1200px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 18;
  }
}

@media (min-width: 1300px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 22;
  }
}

@media (min-width: 1350px) {
  .crosstable-results-cell .crosstable-result-wrapper:not(.many) {
    --column-amount: 10;
  }
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 24;
  }
}

@media (min-width: 1400px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 26;
  }
}

@media (min-width: 1450px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 28;
  }
}
