body {
  width: 150px;
  height: 350px;

  display: flex;
  flex-direction: column;

  gap: 0.8rem;
}

.btn {
  width: 100%;
  height: 50px;

  border: none;
  outline: none;

  background-color: lightcoral;
  border-radius: 0.3rem;
}

.btn.active {
  background-color: lightgreen;
}
