:root {
  --ccc-blue-light-raw: 199, 66%, 59%;
  --ccc-blue-light-hsl: hsl(var(--ccc-blue-light-raw));
}

.crosstable-results-cell:not(:empty) {
  /* for fonts in won/lost game pairs */
  --ccc-loss-font-color: hsl(0, 100%, 72%);
  --ccc-win-font-color: hsl(121, 51%, 62%);

  /* for fonts in Double won/lost game pairs */
  --ccc-double-win-font-color: hsl(102, 61%, 50%);
  --ccc-double-loss-font-color: hsl(0, 100%, 63%);

  --border-color-ccc: hsl(0, 0%, 45%);

  --won-bg: hsla(81, 63%, 62%, 0.17);
  --loss-bg: hsla(9, 86%, 61%, 0.17);
  --double-win-bg: hsla(111, 84%, 39%, 0.35);
  --double-loss-bg: hsla(0, 90%, 36%, 0.36);
  --draw-bg: transparent;

  --wdl-font-size: 1.15rem;
  --wdl-line-height: 1.2rem;

  --ccc-light-gray: hsl(0, 0%, 73%);
  --ccc-err-margin-clr: var(--ccc-light-gray);
}

.crosstable-crosstable:not(:empty) {
  max-width: unset !important;
  width: min-content !important;
}

/* tomato */
.tomato {
  background-color: rgba(255, 99, 71, 0.3);
}

.tomato-i {
  background-color: rgba(255, 99, 71, 0.3) !important;
}

.tomato-i {
  background-color: rgba(255, 99, 71, 0.313) !important;
}

.ccc-stroke {
  font-size: 1rem;
  color: rgb(146, 146, 146);
}

.ccc-move-agree {
  text-decoration: underline;
  border-radius: 4px;
}

/* 
.movetable-hoverable

.ccc-agree-end ~ {
  text-decoration: unset !important;
  background-color: rgba(255, 99, 71, 0.252) !important;
} */

/* TODO edit this */
/* .ccc-agree-end {
  position: relative;
}
*/

.crosstable-results-cell {
  position: relative;

  border: 1px solid hsla(0, 0%, 100%, 0.14) !important;
  border-top: transparent;
}

.crosstable-result-wrapper.ccc-cell-grid {
  display: grid;
  justify-content: center;
  min-width: 100% !important;

  grid-template-columns: repeat(
    var(--custom-column-amount, var(--column-amount)),
    minmax(1.6rem, 1fr)
  );
}

.crosstable-results-cell.crosstable-empty {
  /* position: relative;
  contain: strict;

  --ccc-pattern-bg-1: transparent;
  --ccc-pattern-bg-2: var(--ccc-pattern-bg-3, rgba(92, 92, 92, 0.6));
  --ccc-line-spacing: 16px;

  background-color: var(--ccc-pattern-bg-1);
  background-size: var(--ccc-line-spacing) var(--ccc-line-spacing);
  background-image: repeating-linear-gradient(
    45deg,
    var(--ccc-pattern-bg-2) 0,
    var(--ccc-pattern-bg-2) calc(var(--ccc-line-spacing) / 24),
    var(--ccc-pattern-bg-1) 0,
    var(--ccc-pattern-bg-1) 50%
  ); */
}

.crosstable-results-cell.crosstable-empty:nth-of-type(2n) {
  /* --ccc-pattern-bg-2: var(--ccc-pattern-bg-3, rgba(92, 92, 92, 0.7)); */
}

.crosstable-results-cell.crosstable-empty::before {
  /* content: "";
  position: absolute;
  inset: 0;

  background-color: var(--ccc-pattern-bg-1);
  background-size: var(--ccc-line-spacing) var(--ccc-line-spacing);
  background-image: repeating-linear-gradient(
    135deg,
    var(--ccc-pattern-bg-2) 0,
    var(--ccc-pattern-bg-2) calc(var(--ccc-line-spacing) / 24),
    var(--ccc-pattern-bg-1) 0,
    var(--ccc-pattern-bg-1) 50%
  ); */
}

.schedule-container {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* pair bg alternation */
div.schedule-container > div:nth-child(4n + 1),
div.schedule-container > div:nth-child(4n + 2),
#resultstable-resultstable div:last-child > table > tr:nth-child(4n + 1),
#resultstable-resultstable div:last-child > table > tr:nth-child(4n + 2) {
  background-color: rgba(0, 0, 0, 0.3);
}

/* 
TODO fix this =========================
*/
/* div.schedule-container > div.schedule-gameLink:hover * {
text-decoration: underline;
} */

/* div.schedule-container > div.schedule-gameLink:hover,
div.schedule-container > div.schedule-gameLink:hover,
#resultstable-resultstable div:last-child > table > tr:hover,
#resultstable-resultstable div:last-child > table > tr:hover {
  background-color: unset;
}

div.schedule-container > div.schedule-gameLink:nth-child(4n + 1):hover,
div.schedule-container > div.schedule-gameLink:nth-child(4n + 2):hover,
#resultstable-resultstable div:last-child > table > tr:nth-child(4n + 1):hover,
#resultstable-resultstable div:last-child > table > tr:nth-child(4n + 2):hover {
  background-color: rgba(0, 0, 0, 0.3);
} */
/* TODO FIX END ---------------- */

/* current game in schedule */
.schedule-container > div.schedule-inProgress {
  outline: 1px solid hsla(var(--ccc-blue-light-raw), 0.4);

  background-color: unset;
}

.schedule-container div.schedule-inProgress {
  position: relative;
  isolation: isolate;
}

.schedule-container div.schedule-inProgress > * {
  color: var(--ccc-blue-light-hsl) !important;
}

.schedule-container div.schedule-inProgress::before {
  content: "";
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: hsla(var(--ccc-blue-light-raw), 0.05) !important;

  z-index: -1;
}

/* cursed tooltip line break fix */
.tooltip.tip.vue-tooltip > .inner:last-child {
  white-space: pre-line !important;
  background-color: rgba(0, 0, 0, 0.95) !important;
}

/* 
---------------
header section of the h2h 
score, wdl etc...
---------------
*/

#ccc-cell-header {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  margin-block-end: 0.6rem;

  position: relative;
}

/* makes every non default element to be on a new line  */
#ccc-cell-header :nth-child(1n + 5) {
  width: 100%;
}

.ccc-stat-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.ccc-stat-wrapper:last-of-type {
  margin-block-end: 0.6rem;
}

.ccc-ptnml {
  display: grid;
  grid-auto-flow: column;

  gap: 0.3rem;

  height: 100%;
  padding-inline: 0.4rem;

  border-radius: 3px;

  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(211, 211, 211);

  word-break: break-all;
}

.ccc-ptnml > p {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

#ptnml-header {
  color: var(--ccc-light-gray);

  font-weight: normal;
  font-size: 1.1rem;
}

.ccc-winrate-percentage {
  color: var(--ccc-light-gray);
  margin-inline-start: 0.5rem;
}

.ccc-winrate-percentage:empty {
  display: none;
}

.ccc-error-margin {
  color: var(--ccc-err-margin-clr);
}

.ccc-elo-positive {
  color: var(--globalColorWin);
}

.ccc-elo-negative {
  color: var(--ccc-loss-font-color);
}

/* 
---------------
result table section  
---------------
*/

/* individual results */
#ccc-result {
  color: var(--ccc-color) !important;

  contain: layout;
  grid-column: span 1;

  width: 100%;
  max-width: 100%;

  position: relative;
}

#ccc-result::before {
  content: "";

  position: absolute;

  width: 1px;
  height: 100%;

  background-color: var(--border-color-ccc);
}

#ccc-result.ccc-border-left::before {
  left: 0;
  transform: translateX(-50%);
}

#ccc-result.ccc-border-right::before {
  right: 0;
  transform: translateX(50%);
}

/* WDL */
.ccc-stat-wrapper.ccc-wdl-wrapper {
  row-gap: 0.4rem;
  margin-block: 0.2rem !important;
}

.ccc-wdl-container {
  display: inline-flex;
  border-radius: 2px;

  padding-inline: 0.5rem;
}

.ccc-elo-wrapper {
  display: flex;
  margin-inline-start: 0.4rem;
}

.ccc-wdl-container > p,
.ccc-elo-wrapper > p {
  font-size: var(--wdl-font-size);
  line-height: var(--wdl-line-height);
}

.ccc-wdl-container > :nth-child(2) {
  margin-inline: 0.4rem;
}

/* 
-------------------
background and font color selectors
-------------------
*/

.ccc-double-win {
  --ccc-color: var(--ccc-double-win-font-color);

  background-color: var(--double-win-bg);
}

.ccc-win {
  background-color: var(--won-bg);
}

.win.ccc-win,
.win:last-child {
  --ccc-color: var(--ccc-win-font-color);
}

.ccc-loss {
  background-color: var(--loss-bg);
}

.loss.ccc-loss {
  /* --ccc-color: var(--globalColorLoss) !important; */
  --ccc-color: var(--ccc-loss-font-color);
}

.ccc-double-loss {
  --ccc-color: var(--ccc-double-loss-font-color);

  background-color: var(--double-loss-bg);
}

.loss.ccc-draw {
  --ccc-color: var(--globalColorLoss);
  background-color: var(--draw-bg);
}

.win.ccc-draw {
  --ccc-color: var(--globalColorWin);
  background-color: var(--draw-bg);
}

.loss:last-child:nth-child(2n + 1) {
  --ccc-color: var(--globalColorLoss);
}

.win:last-child:nth-child(2n + 1) {
  --ccc-color: var(--globalColorWin);
}

/* for letter l in WDL stat */
.ccc-loss-font {
  color: var(--ccc-loss-font-color);
  font-weight: 600;
}

/* 
-------------------
media queries
-------------------
*/

@media (min-width: 0px) {
  .crosstable-results-cell .crosstable-result-wrapper {
    --column-amount: 10;
  }
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 8;
  }
}

@media (min-width: 580px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 10;
  }
}

@media (min-width: 715px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 12;
  }
}

@media (min-width: 930px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 14;
  }
}

@media (min-width: 1060px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 16;
  }
}

@media (min-width: 1200px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 18;
  }
}

@media (min-width: 1300px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 22;
  }
}

@media (min-width: 1350px) {
  .crosstable-results-cell .crosstable-result-wrapper:not(.many) {
    --column-amount: 10;
  }
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 24;
  }
}

@media (min-width: 1400px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 26;
  }
}

@media (min-width: 1450px) {
  .crosstable-results-cell .crosstable-result-wrapper.one-v-one {
    --column-amount: 28;
  }
}

/* larger crosstable btn on mobile */
@media (max-width: 969px) {
  #standings-standings > button {
    height: 3.3rem !important;
  }
}

div.movetable-tablewrapper {
  scrollbar-gutter: stable !important;
}

.movetable-tablewrapper table {
  /* max-width: 100%; */
  /* width: 100%; */
  /* background-color: rgba(255, 99, 71, 0.234); */
}

/* ! charts --- */
/* ! ----------- */

.cpu-champs-page-graph {
  /*  */
}

.highcharts-container {
  /*  */
}

.cpu-champs-page-graph > div:last-child {
  /*  */
}

.highcharts-axis-labels.highcharts-yaxis-labels > :last-child {
  transform: translateY(0.5rem) !important;
}
/* ! charts end --- */

/* * wrapper for stat switches
*/
.ccc-options-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);

  gap: 1.9rem;

  height: var(--ccc-modal-pd-top);

  margin-inline-start: 3rem;

  color: rgb(199, 199, 199);

  max-width: 500px;

  z-index: -1;
}

/* *  additional stats 
*/

.ccc-info-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 !important;
  width: 20px;
  height: 20px;

  position: absolute;

  top: 0;
  right: 0;

  cursor: pointer;
}

.ccc-info-button > svg {
  fill: rgb(107, 107, 107);
  width: 15px;
  height: 15px;
}

.ccc-info-backdrop {
  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  z-index: 100;
}

.ccc-info-panel {
  position: fixed;
  width: 270px;
  height: 300px;

  inset: 0;

  margin: auto;

  border-radius: 0.5rem;

  background-color: hsl(36, 7%, 24%);

  display: flex;
  flex-direction: column;

  font-size: 20px;
  color: rgb(185, 185, 185);

  cursor: auto;
  isolation: isolate;
  overflow: hidden;

  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
}

.ccc-info-main {
  display: flex;
  flex-direction: column;

  height: 100%;

  justify-content: center;
  align-items: center;

  padding: 15px;
}

.ccc-opponents-div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin-block-end: auto;
}

.ccc-opponents-div > img {
  max-width: 100%;
  display: block;
  margin-inline: 5px;
}

.ccc-stat-row {
  width: 100%;
  display: flex;
}

.ccc-stat-row:last-child,
.ccc-opponents-div {
  margin-block-end: auto;
}

.ccc-stat-row > :first-child {
  margin-inline-end: auto;
}

.modal-vue-modal-content {
  isolation: isolate;
}

/* add css only dropdown menu */
@media (max-width: 450px) {
  .ccc-options-wrapper {
    display: flex;
    /* flex-direction: column; */
    overflow-x: scroll;
  }

  ::-webkit-scrollbar-thumb {
    opacity: 0.3 !important;

    animation: none !important;
    transition: none !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    opacity: 0.3 !important;

    animation: none !important;
    transition: none !important;
  }

  .modal-vue-modal-content {
    --ccc-modal-pd-top: 4rem;

    padding-top: var(max-content, 3rem) !important;
    padding-inline: 8px !important;
  }

  .ccc-options-wrapper > * {
    flex-shrink: 0;
  }

  .ccc-options-wrapper > :last-child {
    min-width: 150px;
  }

  button.modal-close {
    background-color: #312e2b !important;
    height: var(--ccc-modal-pd-top);
    width: var(--ccc-modal-pd-top);
  }
}

.ccc-label {
  --ccc-input-width: 4rem;
  --ccc-input-height: 1.8rem;

  --ccc-circle-radius: 2.4rem;
  --ccc-circle-offset: 0.4rem;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.ccc-label :last-child {
  margin-inline-start: calc(var(--ccc-circle-offset) * 2);
}

.ccc-input {
  display: flex;
  align-items: center;

  width: var(--ccc-input-width);
  height: var(--ccc-input-height);

  position: relative;

  border-radius: 10rem;

  margin: 0;
  padding: 0;

  background-color: rgb(187, 187, 187);

  appearance: none;

  cursor: pointer;
}

.ccc-input::before {
  content: "";
  position: absolute;
  left: calc(var(--ccc-circle-offset) * -1);

  height: var(--ccc-circle-radius);
  width: var(--ccc-circle-radius);

  border-radius: 50%;

  background-color: rgb(104, 104, 104);
  transition: transform 60ms ease;
}

.ccc-input:checked {
  background-color: rgb(148, 193, 143);
}

.ccc-input:checked::before {
  transform: translateX(
    calc((var(--ccc-input-width) / 2) + var(--ccc-circle-offset))
  );
  background-color: rgb(84, 137, 71);
}

.ccc-row-input {
  border: none;
  outline: 1px solid rgb(81, 81, 81);

  background-color: hsla(0, 0%, 100%, 0.08);

  max-width: 3.5rem;

  margin-inline-start: 0.5rem;

  padding-inline: 0.4rem;
  padding-block: 0.3rem;

  font-size: 1.3rem;
  color: rgb(180, 180, 180);
  font-weight: 600;

  border-radius: 3px;
}

.ccc-row-input:focus-visible {
  outline: 2px solid rgb(173, 173, 173) !important;
}

/* * default CCC elements styling
*/

.modal-vue-modal-content {
  --ccc-modal-pd-top: 4rem;

  cursor: auto;
  padding-block-start: var(--ccc-modal-pd-top) !important;
}

/* crosstable modal backdrop */
.modal-vue-modal-container:hover,
button.modal-close:hover {
  cursor: pointer;
}

/* crosstable button */
button.modal-close > i {
  pointer-events: none;
}

#enginedetails-close {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: tomato !important; */
  width: 3.1rem !important;
  height: 3.1rem !important;
  right: 0 !important;

  font-size: 2.2rem !important;
}

tr.font-faded-white > td:nth-child(2) > div {
  width: max-content;
}

tr.font-faded-white > :nth-child(2) {
  /* position: sticky;
  position: -webkit-sticky;

  left: 0; */
}

/* * ------------------------
* Peregrine suggested styles in media queries
*/

@media (min-width: 970px) {
  #righttable-content,
  .chat-chat {
    height: 100vh !important;
  }
}

.movetable-highlighted.movetable-book-ply:hover,
.movetable-book-ply:hover {
  color: hsl(41, 100%, 66%) !important;
}

/* * ------------------------
* David suggested styles
*/

.movetable-highlighted:not(.movetable-book-ply) {
  color: var(--ccc-blue-light-hsl);
}

/* fck you, specificity */
/* current move in movelist */
.movetable-highlighted:not(.movetable-book-ply):is(
    td.movetable-highlighted.movetable-hoverable
  ):hover {
  color: #80c5e5;
}

.movetable-movetable table {
  margin-left: unset !important;
  width: 100% !important;
}

/* * center the game number in Schedule */
.schedule-container > div :first-child {
  justify-content: center;
  text-align: center;
}

/* moves in movelist */
.movetable-movetable table tr td {
  contain: content;
  padding-left: 0 !important;
  min-width: unset !important;

  min-width: 50% !important;
  width: max-content !important;
  max-width: 50% !important;

  word-break: break-all;
}

.movetable-movetable table tr td.movetable-highlighted {
  /* background-color: hsla(var(--ccc-blue-light-raw), 0.1) !important; */
}

.movetable-movetable table tr:last-child td:only-of-type {
  /* background-color: rgba(106, 142, 35, 0.153) !important; */
}

.movetable-movetable table tr th {
  min-width: unset !important;

  width: 3ch !important;
  max-width: 4ch !important;

  /* background-color: rgba(255, 99, 71, 0.145); */
}

/* 
!test
!test
*/

/* .enginedata-container  */
.enginedata-clock-wrapper svg#Layer_1 {
  fill: rebeccapurple !important;
  background-color: rgba(0, 255, 119, 0.472);
}

svg#Layer_1 {
  outline: 2px solid red;
}

.ccc-wave-container {
  --ccc-wave-color: hsl(114, 32%, 43%);
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 30%;
}

.ccc-wave {
  position: absolute;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
  line-height: 0;

  fill: var(--ccc-wave-color);
}

.ccc-wave-filler {
  display: flex;

  width: 100%;
  height: 50%;
  background-color: var(--ccc-wave-color);

  justify-content: end;
  justify-content: flex-end;
}

.ccc-x-mark {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  fill: rgb(218, 235, 192);

  cursor: pointer;

  transition: fill 70ms ease-in-out;

  background-color: transparent;
  outline: transparent;
  border: none;
}

.ccc-x-mark:hover {
  fill: rgb(255, 255, 255);
}

.ccc-x-mark > svg {
  pointer-events: none;
}
