* {
  /* background-color: rgba(255, 99, 71, 0.2); */
}

.crosstable-result-wrapper.ccc-cell-grid {
  display: grid;

  grid-template-columns: repeat(20, 1fr);
}

#ccc-result {
  contain: layout;
  grid-column: span 1;

  width: 100%;

  --border-color: rgb(240, 240, 240);

  position: relative;
}

#ccc-result::before {
  content: "";

  position: absolute;

  width: 1px;
  height: 100%;

  background-color: var(--border-color);
}

#ccc-result.ccc-border-left::before {
  left: 0;
  transform: translateX(-50%);
}

#ccc-result.ccc-border-right::before {
  right: 0;
  transform: translateX(50%);
}

.ccc-win {
  background-color: rgba(46, 144, 46, 0.295);
}

.ccc-loss {
  background-color: rgba(164, 49, 49, 0.302);
}
